body {
    background-color: antiquewhite;
}

h1 {
    border:dotted;
    border-color:red;
    text-align:center;
    text-align: center;
    font-size: 80px;
}

#M {
    color: red;
}

#Blood_and_bone {
    border: dotted;
    border-color: purple;
    position: relative; 
    left: 400px;
}

h2 {
    color: red;
    text-align: center;
    font-size: 40px;
}

#h2-cast {
    color: red;
    text-align: center;
    font-size: 40px;
    text-align: center;
}



#h-p {
    text-align: center;
}

footer {
    font-size: xx-large;
    text-align: center;
    background-color: black;
    border: solid;
    border-color: red;
}

#link_for_movie-p {
    font-size: xx-large;
    color: white;
}

#p-mycadry {
    font-size: 50px;
    color: red;
}

#contact-p {
    font-size: 40px;
    color: white;
}

.our_FB {
    font-size: 30px;
    color: white;
}