body {
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.5)), url(https://i.redd.it/h7uga1bv24fz.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: bottom 50px;
  background-size: contain;
  
}

p {
  color: white;
  font-size: 5px;
}

h1 {
  text-align: center;
  font-size: 80px;
}

#M {
  color: red;
}

h2 {
  color: red;
  text-align: center;
  font-size: 60px;;
}

#goback-p {
  font-size: 50px;
  color: red;
  text-align: right;
}

#rating {
  border: solid;
  border-color:red;
  font-size: 20px;
}

p {
  font-size: 20px;
}

h3 {
  color: antiquewhite;
  text-align: center;
  font-size:  50px;
}



footer {
  font-size: xx-large;
  text-align: center;
  background-color: black;
  border: solid;
  border-color: red;
}

#link_for_movie-p {
  font-size: xx-large;
  color: white;
}

#p-mycadry {
  font-size: 50px;
  color: red;
}

#contact-p {
  font-size: 40px;
  color: white;
}

.our_FB {
  font-size: 30px;
  color: white;
}
