body {
    background-color: rgb(92, 20, 20);
}

h1 {
    text-align: center;
}

#p1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
}

input {
    font-size: 20px ;
}

footer {
    font-size: xx-large;
    text-align: start;
    background-color: black;
    border: solid;
    border-color: red;
    text-align: center;
}

#contact-p {
    font-size: 40px;
    color: white;
}

.our_FB {
    font-size: 30px;
    color: white;
}