body {
    background-color: antiquewhite;
}

h1 {
    border: dotted;
    border-color: blue;
    text-align: center;
    font-size: 80px;
}

#teenwolf-img {
    border: dotted;
    border-color: blue;
}

footer {
    font-size: xx-large;
    text-align: center;
    background-color: black;
    border: solid;
    border-color: red;
}

#link_for_movie-p {
    font-size: xx-large;
    color: white;
}

#p-mycadry {
    font-size: 50px;
    color: red;
}

#contact-p {
    font-size: 40px;
    color: white;
}

.our_FB {
    font-size: 30px;
    color: white;
}