body {
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.5)), url(http://2.bp.blogspot.com/-Ez8E3aL3jG4/UzLenuQVpdI/AAAAAAAACMc/PJqi-pMIl3A/s1600/blood_and_bone_xlg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}
    

h1 {
    border:dotted;
    border-color:red;
    text-align:center;
    text-align: center;
    font-size: 80px;
}

#M {
    color: red;
}

#Blood_and_bone {
    border: dotted;
    border-color: purple;
    position: relative; 
    left: 400px;
}

h2 {
    color: red;
    text-align: center;
    font-size: 40px;
}

#goback-p {
    font-size: 50px;
    color: red;
    text-align: right;
  }

#h2-cast {
    color: red;
    text-align: center;
    font-size: 40px;
    text-align: center;
}

p {
    color: white;
    
}

#h-p {
    text-align: center;
}

#trailers {
    display: grid;
    place-items: center;
}

#one {
    text-align: right;
    margin-top: -1290px;
}

#two{
    text-align: right;
}

#three{
    text-align: right;
}

footer {
    font-size: xx-large;
    text-align: center;
    background-color: black;
    border: solid;
    border-color: red;
}

#link_for_movie-p {
    font-size: xx-large;
    color: white;
}

#p-mycadry {
    font-size: 50px;
    color: red;
}

#contact-p {
    font-size: 40px;
    color: white;
}

.our_FB {
    font-size: 30px;
    color: white;
}