/* body tag */
body {
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.5)), url(https://www.themoviedb.org/t/p/original/fbGSkZ8zSZSiX5hTzxhJN3QnyB3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* our logo */
h1 {
    
    color: red;
    text-align: center;
    font-size: 80px;
    
}

/* M letter in logo */
#M {
    color: red;
}

#goback-p {
    font-size: 50px;
    color: red;
    text-align: right;
  }

/* green book header */
#Green_Book {
    color: red;
    text-align: center;
    font-size: 80px;
}

/* green book image */
#greenbook-img {
    border: dotted; color:rgb(43, 187, 43);
    position: relative; 
    left: 400px;
}

/* all h2 tag */
h2 {
    color: rgb(76, 236, 76);
    text-align: center;
    font-size: 40px;
}

/* trailers iframe */
#trailers {
    display: grid;
    place-items: center;
}

/* first image to right */
#one {
    text-align: right;
    margin-top: -1220px;
}

/* second image to right */
#two{
    text-align: right;
}

/* thrid image to right */
#three{
    text-align: right;
}

/* footer tag */
footer {
    font-size: xx-large;
    text-align: center;
    background-color: black;
    border: solid;
    border-color: red;
}

/* link for movie-text */
#link_for_movie-p {
    font-size: xx-large;
    color: white;
}

/* My cadry paragraph */
#p-mycadry {
    font-size: 50px;
    color: red;
}

#contact-p {
    font-size: 40px;
    color: white;
}

.our_FB {
    font-size: 30px;
    color: white;
}