body {
   
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.5)), url(https://mytutorsource.qa/assets/admin/blogimages/1654165374.Why%20History%20Matters%20Why%20Is%20It%20Important%20to%20Study%20History-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    color: white;
}


.HP{
    color:red
}