body {
   
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.5)), url(https://mytutorsource.qa/assets/admin/blogimages/1654165374.Why%20History%20Matters%20Why%20Is%20It%20Important%20to%20Study%20History-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {

    font-size: 20px;
    margin-left: 20px;
    transition: 1s;
}

/* Information about movies and series h1 tag hover */
h1:hover {
    font-weight: 900;
    transform: scale(1.2)
}

/* styling a tag in h1 tag */
h1 a {
    color: white;
    text-decoration: none;
    transition: 1s;
}


/* a tah hover in h1 tag */
h1 a:hover {
    color: rgb(173, 57, 57)
}


/* navigation i nheadre tag */
#first-nav {
    display: flex;
    border-style: solid;
    border-color: grey;
    
  }
  
  /* styling li tag in ul tag */
  nav ul li {
    display: inline;
    margin-left: 600px;
    padding: 0;
  }
  
  
  /* registration button */
  #RG-button {
    position: relative;
    font-size: 20px;
    margin-left: -100px;
    margin-top: 18px;
    border-radius: 5px;
    transition: 1s;
  }
  
  /* registration button hover */
  #RG-button:hover {
    box-shadow: 2px 2px grey;
    background-color: rgb(184, 107, 107);
    transform: scale(1.1);
  }
  
  /* history of cinomatography butto */
  #history-button {
    position: relative;
    font-size: 20px;
    margin-left: 100px;
    margin-top: -30px;
    border-radius: 5px;
    transition: 1s;
  }
  
  /* history of cinomatography button hover */
  #history-button:hover {
    box-shadow: 1px 2px grey;
    background-color: rgb(184, 107, 107);
    transform: scale(1.1);
  }
  
  /* all a tag in button tag */
  nav ul li button a {
    text-decoration: none;
  }

p {
    color: white;
}


.HP{
    color:red
}

/* Footer tag */
footer {
  font-size: xx-large;
  text-align: start;
  border-style: solid;
  border-color: grey;
  background-color: rgba(27, 27, 27, 0.308);

}

#right{
  text-align: right;
  margin-top: -230px;
  margin-right: 2%;
}


#contact-p {
  font-size: 30px;
  color: white;
}

.our_FB {
  margin-left: 10px;
  font-size: 15px;
  color: white;
}

p {
  color: white;
}

h2{
  color:red;
  text-align:center;
  font-size:40px
}
h3{
  text-align:center;
  font-size:30px;
  color:red
}