body {
    background-color: rgba(34, 32, 32)
}

h1 {

    font-size: 20px;
    margin-left: 20px;
    transition: 1s;
}

/* Information about movies and series h1 tag hover */
h1:hover {
    font-weight: 900;
    transform: scale(1.2)
}

/* styling a tag in h1 tag */
h1 a {
    color: white;
    text-decoration: none;
    transition: 1s;
}


/* a tah hover in h1 tag */
h1 a:hover {
    color: rgb(173, 57, 57)
}


/* navigation i nheadre tag */
#first-nav {
    display: flex;
    border-style: solid;
    border-color: grey;
    
  }
  
  /* styling li tag in ul tag */
  nav ul li {
    display: inline;
    margin-left: 600px;
    padding: 0;
  }
  
  
  /* registration button */
  #RG-button {
    position: relative;
    font-size: 20px;
    margin-left: -100px;
    margin-top: 18px;
    border-radius: 5px;
    transition: 1s;
  }
  
  /* registration button hover */
  #RG-button:hover {
    box-shadow: 2px 2px grey;
    background-color: rgb(184, 107, 107);
    transform: scale(1.1);
  }
  
  /* history of cinomatography butto */
  #history-button {
    position: relative;
    font-size: 20px;
    margin-left: 100px;
    margin-top: -30px;
    border-radius: 5px;
    transition: 1s;
  }
  
  /* history of cinomatography button hover */
  #history-button:hover {
    box-shadow: 1px 2px grey;
    background-color: rgb(184, 107, 107);
    transform: scale(1.1);
  }
  
  /* all a tag in button tag */
  nav ul li button a {
    text-decoration: none;
  }

#p1 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-size: xx-large;
}

form {
    
    text-align: center;
    font-size: xx-large
}

#form {
    position: relative;
    margin-left: 37%;
    display: grid;
    place-items: center;
    width: 300px;
    height: 472px;
    padding: 20px;
    background-color: #161616;
    box-shadow: 0px 15px 60px #00FF7F;
    border-style: solid;
    border-color: black;
    
}

input {
    font-size: 20px ;
    border-color: black;
    border-radius: 50px;
}

/* Footer tag */
footer {
  font-size: xx-large;
  text-align: start;
  border-style: solid;
  border-color: grey;
  background-color: rgba(41, 41, 41, 0.377);

}

#right{
  text-align: right;
  margin-top: -230px;
  margin-right: 2%;
}


#contact-p {
  font-size: 30px;
  color: white;
}

.our_FB {
  margin-left: 10px;
  font-size: 15px;
  color: white;
}

p {
  color: white;
}